body{
    direction: rtl;
    background-image:url(../Contact.svg); 
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
    line-height: 30px;
    }
h1 { 
    font-size: 60px;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}
h2{
    text-decoration: underline;
}
h3 {
    text-decoration: underline
}
h4 {
    text-decoration: underline
}

p{  
    text-decoration: underline;
    font-size: 20px;
}
#container{
    width: 100%;
}

#main{
    font-size: 20px;
    letter-spacing: 1px
}

#first{
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: underline;
}

#second{
    width: 500px;
    float: right;
}   

#third{
    width: 500px;
    float: right;
}   

#fourth{
    width: 86%;
    height: 200px;
    float: right;
}

#fifth{
    width: 14%;
    height: 200px;
    float: right;
}
#sixth {
    width: 500px;
    float: right;
}


ol{
    font-size:20px;
    letter-spacing:1px;
}

.labelQuiz{
    font-size: 20px;
    letter-spacing:1px;
}

.button1{
    font-size: 20px;
    text-align: center;
    width: 200px;
    height: 200px;
    background-color: #07FE5E;



}

